@import url(//db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);
@import url(//db.onlinewebfonts.com/c/36b94f058581f2e0ace7e0017351d5b6?family=adineue+PRO+KZ+Bold);
@import url('//db.onlinewebfonts.com/c/80b09c4ebad1bdde194e60b3dd2c5071?family=AdihausDIN+Cn');

@font-face {font-family: "AdihausDIN"; src: url("//db.onlinewebfonts.com/t/c0cd6ec8ce6d2bbd315a13b62ed13550.eot"); src: url("//db.onlinewebfonts.com/t/c0cd6ec8ce6d2bbd315a13b62ed13550.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c0cd6ec8ce6d2bbd315a13b62ed13550.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c0cd6ec8ce6d2bbd315a13b62ed13550.woff") format("woff"), url("//db.onlinewebfonts.com/t/c0cd6ec8ce6d2bbd315a13b62ed13550.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c0cd6ec8ce6d2bbd315a13b62ed13550.svg#AdihausDIN") format("svg"); }
@font-face {font-family: "adineue PRO KZ Bold"; src: url("//db.onlinewebfonts.com/t/36b94f058581f2e0ace7e0017351d5b6.eot"); src: url("//db.onlinewebfonts.com/t/36b94f058581f2e0ace7e0017351d5b6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/36b94f058581f2e0ace7e0017351d5b6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/36b94f058581f2e0ace7e0017351d5b6.woff") format("woff"), url("//db.onlinewebfonts.com/t/36b94f058581f2e0ace7e0017351d5b6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/36b94f058581f2e0ace7e0017351d5b6.svg#adineue PRO KZ Bold") format("svg"); }
@font-face {font-family: "AdihausDIN Cn"; src: url("//db.onlinewebfonts.com/t/80b09c4ebad1bdde194e60b3dd2c5071.eot"); src: url("//db.onlinewebfonts.com/t/80b09c4ebad1bdde194e60b3dd2c5071.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/80b09c4ebad1bdde194e60b3dd2c5071.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/80b09c4ebad1bdde194e60b3dd2c5071.woff") format("woff"), url("//db.onlinewebfonts.com/t/80b09c4ebad1bdde194e60b3dd2c5071.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/80b09c4ebad1bdde194e60b3dd2c5071.svg#AdihausDIN Cn") format("svg"); }


.grid {
  display: grid;
  margin: 0;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 45px 45px 45px;

}

.cell {
  border: 1px solid;
  height: 45px;
  width: 100px;
  align-items: center;
  justify-items: center;
  font-family: "AdihausDIN";
  background-color: white;
}

.findSize {
  text-decoration: underline;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  font-family: "AdihausDIN"
}

.outOfStock{
  text-decoration: underline;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  font-family: "AdihausDIN";
}

.addToBag {
  margin-top: 40px;
  height: 50px;
  width: 300px;
  color: white;
  background-color: black;
  justify-content: space-between;
  font-family: "AdihausDIN";
  font-size: 18px;
  position: relative;
  cursor: pointer;
}
.addToBag:before {
  content: '';
  position: absolute;
  display: block;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  bottom: -5px;
  height: 5px;
  left: 4px;
  width: 100%;
}
.addToBag:after {
  content: '';
  position: absolute;
  display: block;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  height: 100%;
  right: -5px;
  top: 4px;
  width: 5px;
}
.signUpButton:before{
  content: '';
  position: absolute;
  display: block;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  bottom: -5px;
  height: 5px;
  left: 4px;
  width: 100%;
}

.signUpButton:after {
  content: '';
  position: absolute;
  display: block;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  height: 100%;
  right: -5px;
  top: 4px;
  width: 5px;
}

.wishlist{
  margin-top: 40px;
  margin-left: 30px;
  height: 50px;
  width: 50px;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.promotion{
  display: inline-block;
  text-decoration: underline;
  font-family: "AdihausDIN";
  margin-left: 10px;
  cursor: pointer;

}

.original{
  font-family: "AdihausDIN"
}

h1{
  font-family: "AdihausDIN Cn";
  font-size: 46px;
  margin: 10px 0px;
}

.login{
  font-family: "AdihausDIN"
}

#size-guide{
  display: inline-block;
  margin: 50px 10px;
  text-decoration: underline;
  font-family: "AdihausDIN";
  cursor: pointer;
}

.size-bottom-controls{
  display: inline-block;
}

.signup {
  display: inline-block;
  text-decoration: underline;
  font-family: "AdihausDIN";
}

.stars{
  display: inline-block;
  margin-left: 25%;
  padding-left: 30%;
}

#reviewNum{
  font-family: "AdihausDIN";
  text-decoration: underline;
}

.sizeCell:nth-child(even){
    background-color: #ebedee;
}

label {
  font-family: "AdihausDIN";
}

input::-webkit-input-placeholder {
  font-family: "AdihausDIN";
}

.outOfStockSize:hover {
  background-color: black;
  color:white;
}

h2 {
  font-family: "AdihausDIN";
}

.warning {
  color: red;
}
